.hidden {
  display: none;
}

body {
  font-family: novel-mono-pro-extra-compres, sans-serif;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background-color: #222;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  font-family: novel-mono-pro, sans-serif;
  font-weight: 800;
  font-style: italic;
  margin: 1rem;
}

header nav {
  margin: 1rem;
  margin-right: 10rem;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin-left: 1rem;
  cursor: pointer;
}

header nav ul li div.detail {
  display: none;
  position: absolute;
  top: 1.5rem;
  padding: 5px;
  min-width: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

header nav ul li div.detail ul {
  display: block;
  padding-left: 0;
}

header nav ul li div.detail ul li {
  margin: 0;
}

header nav ul li:hover {
  position: relative;
  top: -5px;
}

header nav ul li:hover div.detail {
  display: block;
  background-color: #444;
}

main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background: #ddd;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #first-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #first-slide iframe {
  margin: auto;
}

main article {
  width: 1024px;
  height: 768px;
  background-color: #fff;
  margin: auto;
}

main article .slide-title {
  margin: 80px 30px auto;
  font-size: 30px;
  font-weight: 700;
}

main article .long-text {
  margin: 30px 70px auto;
  text-align: justify;
}

main article .long-text .thin {
  padding: 10px;
  border: 2px solid green;
  margin: 0px 100px auto;
}

main article .long-text .thin img {
  float: right;
  margin: 0 0 1em 1em;
}

main article .long-text .clearfix {
  overflow: auto;
  border: 4px solid green;
}

main article .long-text .clearfix nav {
  float: left;
  width: 200px;
  border: 4px solid pink;
}

main article .long-text .clearfix section {
  margin-left: 200px;
  border: 4px solid yellow;
}

main article .long-text .clearfix img {
  float: right;
  width: 50%;
}

main article .long-text .container {
  overflow: auto;
  border: 4px solid green;
  margin-left: 25%;
}

main article .long-text .container nav {
  float: left;
  width: 25%;
}

main article .long-text .relative1 {
  position: relative;
}

main article .long-text .relative2 {
  position: relative;
  top: -30px;
  left: 30px;
  background-color: white;
  width: 500px;
}

main article .long-text .fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: white;
}

main article .long-text .relative {
  position: relative;
  width: 600px;
  height: 200px;
}

main article .long-text .absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 100px;
}

main article .long-text .code_title {
  background: burlywood;
}

main article .long-text code {
  background: #cfcfcf;
}

main article .g2-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main article .g2-2 div {
  text-align: center;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main article .g2-2 div, main article .g2-2 label {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main article .g2-2 .hover-example:hover {
  font-size: 200%;
}

main article .g2-2 input#transition-checked:checked ~ label {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main article .g2-2 .rotate-constant {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: turnarround;
          animation-name: turnarround;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

main article .g2-2 #fill-me-correctly-div {
  display: block;
}

main article .g2-2 input#fill-me-correctly ~ p {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

main article .g2-2 input#fill-me-correctly:valid ~ p {
  opacity: 1;
}

footer {
  width: 100%;
  position: absolute;
  background-color: #888;
  top: 95vh;
  left: 0;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

footer i {
  cursor: pointer;
}

#tree {
  margin: 0;
  padding: 0;
}

#tree ul, #tree #tree {
  list-style-type: none;
}

#tree .caret {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#tree .caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

#tree .caret-down::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#tree .nested {
  display: none;
}

#tree .active {
  display: block;
}

@-webkit-keyframes turnarround {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes turnarround {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
/*# sourceMappingURL=style.css.map */